<div class="contentDiv">
  <ul>
      <li>
          <div class="titleCont">
              <div class="imgFire"></div>
              NINETALES
          </div>
        <div class="imgNinetales"></div>
      </li>
      <li>
          <div class="dataCont">
          <ul id="contentList">
              <li id="dataName">NO.<span class="dataTxt">038</span></li>
              <li id="dataName">LEVEL<span class="dataTxt">178</span></li>
              <li id="dataName">TYPE<span class="dataTxt">Fire</span></li>
              <li id="dataName">HABILITY<span class="dataTxt">Flash Fire</span></li>
              <li id="dataName">HEIGHT<span class="dataTxt">1,1m</span></li>
              <li id="dataName">WEIGHT<span class="dataTxt">19,9kg</span></li>
          </ul>
          <div class="puntajeCont">10
              <div class="puntimgCont">
                    <div class="goodPoint"></div>
                    <div class="badPoint"></div>
              </div>
              
          </div>
          </div>
      </li>
  </ul>
</div>