.titleCont{
    display: inline-block;
    margin: 12px auto;
    height: 47px;
    width: 99%;
    border-radius: 9px;
    color: black;
    text-align: center;
    font-size: 37px;
    font-family: 'Archivo Narrow', sans-serif;
    position: relative;
}

.dataCont{
    margin-top: 40px;
    background: #541B8A;
    position: relative;
    width: 100%;
    border-radius: 42px;
    display: inline-block;
    height: 322px;
    color: white;
    text-align: center;

}

.pokeImg{
    //transform: scale(3.5);
    margin-top: 3%;
    margin-left: 26%;
}

.puntajeCont{
    color: white;
    font-size: 40px;
    display: block;
    font-family: 'Jua', sans-serif;

}

.contentDiv{
    padding: 20px;
    margin-right: 50px;
    ul{
        list-style: none;
        li{
            vertical-align: top;
            display: inline-block;
            position: relative;
            width: 49%;
            height: 217px;
        }   
    }
}

.dataTxt{
    display: block; 
    font-family: 'Open Sans Condensed', sans-serif;
    height: 10px;
}

#dataName{
    font-family: 'Raleway', sans-serif;
    height: 20px;
    margin-bottom: 34px;
}

#contentList{
    padding: 24px;
}

.sprite_1-fire, .imgFire {
    background-position: -30px -75px;
    height: 45px;
    width: 45px;
  }

.imgFire{
    @extend .sprite_1-fire;
    display: inline-block;
}

.puntimgCont{
    display: block;
}

.goodPoint{
    display: inline-block;
    background-image:url('/assets/good.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}

.badPoint{
    display: inline-block;
    background-image:url('/assets/bad.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}

@media screen and (max-width:415px){
    .contentDiv{
        padding: 0px;
        ul{
            li{
                display:block;
                position: relative;
                width: 100%;
                height: 20px;
            }   
        }
    }
    .dataCont{
        margin-top: 130px;
        height: 240px;
        text-align:left;
    }
    .titleCont{
        font-size: 22px;
        height: 19px;
    }

    .dataTxt{
        display: inline-block; 
        float: right;
    }
    
    #dataName{
        height:0;
        font-size: 13px;
        margin-bottom:21px;
    }

    .puntajeCont{
        font-size:30px;
        text-align: center;
    }

    .pokeImg{
        height: 109px;
        position: relative;
        margin-left: 32%;
        margin-top: 12%;
        z-index: 1;
    }

    .pokeType{
        height: 20px;
    }

    .goodPoint{
        transform: scale(0.5);
    }
    
    .badPoint{
        transform: scale(0.5);
    }

    .puntimgCont{
        margin-top: -16px;
    }

}