 
 
 <div class="listCont">

  <div class="poketitleCont">
    Lista de 
    <span>Pokémon</span>
  </div>
  <ul>
    <li *ngFor="let poke of _pokemon; let i = index" (click)="redirect(i)">
        <!--<div class="pokeImg"></div>-->
      <img class="imgHome" src="../../assets/{{poke.img}}"/>
      <span class="pokeName">{{poke.name}}</span>
       
    </li>

    <!--<li><div class="pokeImg"></div><span class="pokeName">NOMBRE</span></li>
    <li><div class="pokeImg"></div><span class="pokeName">NOMBRE</span></li>
    <li><div class="pokeImg"></div><span class="pokeName">NOMBRE</span></li>
    <li><div class="pokeImg"></div><span class="pokeName">NOMBRE</span></li>
    <li><div class="pokeImg"></div><span class="pokeName">NOMBRE</span></li>
    <li><div class="pokeImg"></div><span class="pokeName">NOMBRE</span></li>
    <li><div class="pokeImg"></div><span class="pokeName">NOMBRE</span></li>
    <li><div class="pokeImg"></div><span class="pokeName">NOMBRE</span></li>-->
  </ul>
</div>  