footer.footerCont{
    width: 100%;
    height: 115px;
    background: #8E68BE;
    bottom: 0;
    position: fixed;
    left:0;
    ul{
        list-style: none;
        display: block;
        width: 80%;
        margin: 20px auto 0;
        li{
            &:hover{
                cursor: pointer;
                background: green;
            }
            height: 80px;
            width: 80px;
            border-radius: 10px;
            background: blue;
            display: inline-block;
            margin: 5px;
            margin-bottom: -30px;
        }        
    }
}

/*#otherLI{
    &:hover{
        cursor: pointer;
        background: green;
    }
    color:white;
    font-size: 40px;
    background: brown;

}*/