body.mainCont{
    background: #D1D78D;
}

.titleCont{
    display: inline-block;
    margin: 56px auto;
    height: 47px;
    width: 47%;
    background: #EED74D;
    border-radius: 9px;
    color: black;
    text-align: center;
    font-size: 37px;
    font-family: 'Archivo Narrow', sans-serif;
}

ul{
    list-style: none
}

.dataCont{
    background: #2885A5;
    width: 49%;
    border-radius: 42px;
    display: inline-block;
    height: 297px;
    margin: 0 0 -271px 15px;

}