/* line 88, sprites/sprite_1/*.png */
.sprite_1-sprite, .sprite_1-charmander, .sprite_1-flareon, .sprite_1-growlithe, .sprite_1-ninetales, .sprite_1-pokebola, .imagePokebola, .sprite_1-rapidash {
  background-image: url('/img/sprites/sprite_1-s37a1900438.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite_1-charmander {
  background-position: 0 -1079px;
  height: 828px;
  width: 878px;
}

/* line 84, ../../../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite_1-flareon {
  background-position: 0 -2802px;
  height: 930px;
  width: 858px;
}

/* line 84, ../../../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite_1-growlithe {
  background-position: -393px 0;
  height: 599px;
  width: 433px;
}

/* line 84, ../../../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite_1-ninetales {
  background-position: 0 -599px;
  height: 480px;
  width: 510px;
}

/* line 84, ../../../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite_1-pokebola, .imagePokebola {
  background-position: 0 -1907px;
  height: 895px;
  width: 892px;
}

/* line 84, ../../../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite_1-rapidash {
  background-position: 0 0;
  height: 369px;
  width: 393px;
}

/* line 1, ../sass/_header.scss */
header.headerCont {
  background: #f7370d;
  height: 40px;
  width: 100%;
  padding: 2px;
  display: block;
  color: white;
  font-family: 'Righteous', cursive;
  text-align: center;
  font-size: 31px;
  border-radius: 15px;
}

/* line 14, ../sass/_header.scss */
.imagePokebola {
  background: black;
}

/* line 1, ../sass/_general.scss */
body.mainCont {
  background: #D1D78D;
}

/* line 5, ../sass/_general.scss */
.titleCont {
  display: inline-block;
  margin: 56px auto;
  height: 47px;
  width: 47%;
  background: #EED74D;
  border-radius: 9px;
  color: black;
  text-align: center;
  font-size: 37px;
  font-family: 'Archivo Narrow', sans-serif;
}

/* line 18, ../sass/_general.scss */
ul {
  list-style: none;
}

/* line 22, ../sass/_general.scss */
.dataCont {
  background: #2885A5;
  width: 49%;
  border-radius: 42px;
  display: inline-block;
  height: 297px;
  margin: 0 0 -271px 15px;
}

/* line 1, ../sass/_footer.scss */
footer.footerCont {
  width: 100%;
  height: 115px;
  background: #8E68BE;
  bottom: 0;
  position: fixed;
  left: 0;
}
/* line 8, ../sass/_footer.scss */
footer.footerCont ul {
  list-style: none;
  display: block;
  width: 80%;
  margin: 20px auto 0;
}
/* line 13, ../sass/_footer.scss */
footer.footerCont ul li {
  height: 60px;
  width: 60px;
  border-radius: 10px;
  background: blue;
  display: inline-block;
  margin: 10px;
}
/* line 14, ../sass/_footer.scss */
footer.footerCont ul li:hover {
  cursor: pointer;
  background: green;
}

/*#otherLI{
    &:hover{
        cursor: pointer;
        background: green;
    }
    color:white;
    font-size: 40px;
    background: brown;

}*/
