/* line 96, sprites/sprite_1/*.png */
.sprite_1-sprite, .sprite_1-charmander, .sprite_1-fire, .imgFire, .sprite_1-flareon, .sprite_1-growlithe, .sprite_1-ninetales, .imgNinetales, .sprite_1-pokebola, .imagePokebola, .sprite_1-rapidash {
  background-image: url('../img/sprites/sprite_1-s91653c800a.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite_1-charmander {
  background-position: 0 0;
  height: 75px;
  width: 75px;
}

/* line 84, ../../../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite_1-fire, .imgFire {
  background-position: -30px -75px;
  height: 45px;
  width: 45px;
}

/* line 84, ../../../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite_1-flareon {
  background-position: -225px -75px;
  height: 75px;
  width: 75px;
}

/* line 84, ../../../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite_1-growlithe {
  background-position: -75px -75px;
  height: 75px;
  width: 75px;
}

/* line 84, ../../../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite_1-ninetales, .imgNinetales {
  background-position: 0 -150px;
  height: 310px;
  width: 310px;
}

/* line 84, ../../../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite_1-pokebola, .imagePokebola {
  background-position: 0 -75px;
  height: 30px;
  width: 30px;
}

/* line 84, ../../../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite_1-rapidash {
  background-position: -150px -75px;
  height: 75px;
  width: 75px;
}

/* line 1, ../sass/_header.scss */
header.headerCont {
  background: #F2F2F2;
  border: 1px solid;
  border-bottom: red;
  border-style: outset;
  -webkit-text-stroke: 0.8px #0059A6;
  height: 40px;
  width: 100%;
  padding: 2px;
  display: block;
  color: #FACB00;
  font-family: 'Righteous', cursive;
  text-align: center;
  font-size: 31px;
  border-radius: 15px;
}

/* line 18, ../sass/_header.scss */
.imagePokebola {
  display: inline-block;
}

/* line 1, ../sass/_general.scss */
main.mainCont {
  background: white;
}

/* line 5, ../sass/_general.scss */
.titleCont {
  display: inline-block;
  margin: 12px auto;
  height: 47px;
  width: 99%;
  border-radius: 9px;
  color: black;
  text-align: center;
  font-size: 37px;
  font-family: 'Archivo Narrow', sans-serif;
  position: relative;
}

/* line 18, ../sass/_general.scss */
.dataCont {
  margin-top: 101px;
  background: #541B8A;
  position: relative;
  width: 100%;
  border-radius: 42px;
  display: inline-block;
  height: 200px;
  color: white;
  text-align: center;
}

/* line 31, ../sass/_general.scss */
.contentDiv {
  padding: 20px;
  margin-right: 50px;
}
/* line 34, ../sass/_general.scss */
.contentDiv ul {
  list-style: none;
}
/* line 36, ../sass/_general.scss */
.contentDiv ul li {
  vertical-align: top;
  display: inline-block;
  position: relative;
  width: 49%;
  height: 217px;
}

/* line 46, ../sass/_general.scss */
.dataTxt {
  display: block;
  font-family: 'Open Sans Condensed', sans-serif;
  height: 10px;
}

/* line 52, ../sass/_general.scss */
#dataName {
  font-family: 'Raleway', sans-serif;
  height: 20px;
  margin-bottom: 34px;
}

/* line 59, ../sass/_general.scss */
#contentList {
  padding: 24px;
}

/* line 63, ../sass/_general.scss */
.imgNinetales {
  margin-left: 23%;
}

/* line 68, ../sass/_general.scss */
.imgFire {
  display: inline-block;
}

/* line 1, ../sass/_footer.scss */
footer.footerCont {
  width: 100%;
  height: 115px;
  background: #F08604;
  bottom: 0;
  position: fixed;
  left: 0;
}
/* line 8, ../sass/_footer.scss */
footer.footerCont ul {
  list-style: none;
  display: block;
  width: 80%;
  margin: 20px auto 0;
}
/* line 13, ../sass/_footer.scss */
footer.footerCont ul li {
  border: 3px solid black;
  vertical-align: top;
  height: 80px;
  width: 80px;
  border-radius: 10px;
  background: #FACB00;
  display: inline-block;
  margin: 5px;
  margin-bottom: -30px;
}
/* line 14, ../sass/_footer.scss */
footer.footerCont ul li:hover {
  cursor: pointer;
  background: #D72C19;
}

/* line 32, ../sass/_footer.scss */
#otherTxt {
  font-family: 'Archivo Narrow', sans-serif;
  color: white;
  background: transparent;
  height: 12px;
  border: 0px;
  font-size: 23px;
  margin-top: 30px;
}
