/* line 88, sprites/sprite_1/*.png */
.sprite_1-sprite, .sprite_1-charmander, .sprite_1-flareon, .sprite_1-growlithe, .sprite_1-ninetales, .sprite_1-pokebola, .sprite_1-rapidash {
  background-image: url('/img/sprites/sprite_1-s37a1900438.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite_1-charmander {
  background-position: 0 -1079px;
  height: 828px;
  width: 878px;
}

/* line 84, ../../../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite_1-flareon {
  background-position: 0 -2802px;
  height: 930px;
  width: 858px;
}

/* line 84, ../../../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite_1-growlithe {
  background-position: -393px 0;
  height: 599px;
  width: 433px;
}

/* line 84, ../../../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite_1-ninetales {
  background-position: 0 -599px;
  height: 480px;
  width: 510px;
}

/* line 84, ../../../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite_1-pokebola {
  background-position: 0 -1907px;
  height: 895px;
  width: 892px;
}

/* line 84, ../../../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite_1-rapidash {
  background-position: 0 0;
  height: 369px;
  width: 393px;
}
