app-footer.footerCont{
    width: 100%;
    height: 115px;
    background: #F08604;
    bottom: 0;
    position: fixed;
    left:0;
    ul{
        list-style: none;
        display: block;
        width: 80%;
        margin-left:30%;
        //margin: 20px auto 0;
        li{
            &:hover{
                cursor: pointer;
                background: #D72C19;
            }
            border: 3px solid black;
            vertical-align:top;
            height: 80px;
            width: 80px;
            border-radius: 10px;
            background: #FACB00;
            display: inline-block;
            margin: 5px;
            margin-bottom: -30px;
        }        
    }
}


#otherTxt{
    font-family: 'Archivo Narrow', sans-serif;
    color:white;
    background:transparent;
    height: 12px;
    border: 0px;
    font-size: 23px;
    margin-top: 30px
}

.sprite_1-charmander {
    background-position: 0 0;
    height: 75px;
    width: 75px;
  }
  
  .sprite_1-flareon {
    background-position: -225px -75px;
    height: 75px;
    width: 75px;
  }

  .sprite_1-growlithe {
    background-position: -75px -75px;
    height: 75px;
    width: 75px;
  }

  .sprite_1-rapidash {
    background-position: -150px -75px;
    height: 75px;
    width: 75px;
  }
  


@media screen and (max-width:415px){
    app-footer.footerCont{
        height: 140px;
        ul{
            width: 42%;
            margin: 0 auto;
            li{
                height: 40px;
                width: 40px;
                margin: 5px;
                margin-top: 24px;
                margin-bottom: -15px;
            }
        }
    }

    #otherTxt{
        width: 60%;
        display: block;
        margin: 0 auto;
        font-size: 18px;
    }

    .sprite_1-charmander {
        height: 35px;
        width: 35px;
      }
      
      .sprite_1-flareon {
        height: 35px;
        width: 35px;
      }
    
      .sprite_1-growlithe {
        height: 35px;
        width: 35px;
      }
    
      .sprite_1-rapidash {
        height: 35px;
        width: 35px;
      }
      

}

